.HomeComponent {
    padding-top: 80px;
}

.HomeContent__wrapper {
    height: 700px;
    background-image: url('../../../assets/images/pexels-nout-gons-378570.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: bottom;
    background-color: rgba(255,255,255,0.05);
    background-blend-mode: lighten;
}

.HomeContent__wrapper  h2 {
    padding-top: 70px;
    color: white;
    margin-left: 20px;
}

.HomeContent__business {
    height: 400px;
    background-image: url('../../../assets/images/pexels-nicolas-poupart-2360562.jpg');
    background-size:cover;
    background-blend-mode: lighten;
    background-position: center;
    background-color: rgba(249, 235, 190, 0.4);
}

.HomeContent__business h2{
    padding-top: 20px;
    color: black;
    margin-left: 20px;
    opacity: 1;
}

.HomeContent__business p{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-size: 1.5rem;
}

.HomeComponent__OurGoal {
    margin: 0 20px;
    padding: 100px 0;
}

.HomeComponent__OurGoal h2{
    font-size: 4rem;
    padding-bottom: 30px;
}

.HomeComponent__OurGoal p{
    font-size: 1.5rem;
    padding-bottom: 10px;
}