.RideInfo__Wrapper {
    border:1px solid black;
    background-image:url('https://lh3.googleusercontent.com/M9dRt3sJK8ukzk28KMD0xOvuQVuaqRh5yT8fmVgJ9pkas2ZVgs7JXeCWQex6zuWnxWyrWgXrmkdIMm3CrE0dLSKr0LAcV_1Gecut1mxt');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
    
}

.RideInfo__Card {
    box-shadow: 5px 7px 10px rgba(50,50,50,0.3);
    padding: 50px 0px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    max-width: 700px;
    margin: 200px 20px;
    position: relative;
    z-index: 1;
    background-color: white;
}

.RideInfo__CardContainer {
    padding:0px 10px;
}

.RideInfo__Header {
    text-align:center; 
    margin: 20px 10px;
}

.RideInfo__Search {
    display: flex;
    justify-content: center;
}

.RideInfo__Map {
    position: absolute;
    top:200px;
    left:850px;
    border: 3px solid blue;
    max-width: 700px;
    width: 700px;
    height: 465px;
    box-shadow: 5px 7px 10px rgba(50,50,50,0.3);
    border: 1px solid rgba(0,0,0,0.1);
}

.RideInfo__Input {
    width: 100%;
}