.RideInfo__InputGroup {
    padding:20px 0px;
    max-width:100%;
    width: 100%;
}

.RideInfo__InputGroupLeftAddOn {
    padding-right:10px;
    font-size:1.1rem;
}

.RideInfo__InputGroup div .RideInfo__Input {
    font-size:1.1rem;
}