body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-nav-brand {
  color:green;
}

.my-navbar {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  
}

.App div.GM {
  height: 500px;
}

.Wrapper {
  height: 200px;
  background-color: green;
}

/* .RideInfo__Wrapper {
  border:1px solid black
} */
